.about{
   padding: 4% 19%;
}

.about-text{
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: smaller;
   width: 318px;
   line-height: normal;
}
.about-title{
   font-size: 20px;
   font-family: 'Trebuchet MS';
   font-weight: normal;

}
.about-img{
   height: 245px;
   object-fit: cover;
}


@media only screen and  (max-width: 688px) and (min-width: 360px) {
   .about{
      padding: 4% 4%;
   }
 }
 @media only screen and  (max-width: 1024px) and  (min-width: 689px) {
   .about{
       padding: 4% 6%;
    }
}