.factory{
   padding: 4% 14%;
    background-color: #EAEAEA;
}
.factory-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: small;
}
.factory-title{
    font-size: 25px;
    font-family: 'Trebuchet MS';
}
.factory-img{
    height: 220px;
    width: 300px;
    object-fit: cover;
}





@media only screen and  (max-width: 688px) {
        .factory-row{
            margin-left: -10%;
        }
}


/* -----------------------
Tablet Device
----------------------- */

@media only screen and  (max-width: 1024px) and  (min-width: 689px) {
     .factory-row{
        margin-left: -65px;
     }
}
@media only screen and  (min-width: 1024px)  {
     .factory-row{
        margin-left: 55px;
     }
}