.factory{
   padding: 4% 19%;
    background-color: #EAEAEA;
}
.factory-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: small;
    line-height: normal;
    width: 304px;
}
.factory-title{
    font-size: 25px;
    font-family: 'Trebuchet MS';
}
.factory-img{
    height: 245px;
    object-fit: cover;
}



