.navbar{
    padding: 0% 0%;
    background-color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.nav-link:focus{
    color: #BD2322;
}
.nav-link{
    text-transform: uppercase;
    color: black;
    margin-right: 40px;
    font-size: 15px;
}
.navbar-brand img{
    width: 300px;
    height: auto;
}

.nav-link:hover{
    color: #BD2322;
}
.shopping{
    background-color: #BD2322;
    color: #fff;
}
.shopping:hover{
    color: #fff;
}
.shopping:focus{
    color: #fff;
}
.headline{
    height: 40px;
    background: #709F33;
    text-align: center;
}
.headline-text{
    padding-top: 10px;
    color: #fff;
    text-transform: uppercase;
}
.hover-text{
    padding-top: 10px;
    text-transform: uppercase;
    color: #BD2322;
}
.hover{
    position: relative;
}





/* -----------------------
    Media Queries
----------------------- */

/* -----------------------
  Mobile Device
----------------------- */
@media only screen and  (max-width: 688px) {
    /* .nav-link{
        text-transform: uppercase;
        color: black;
        margin-right: 0px;
        font-size: 13px;
        font-weight: bold;
    } */
    .navbar-brand img{
        width: 280px;
        height: auto;
    }
    .shopping{
        background-color: #BD2322;
        color: #fff;
    }
    .shopping:hover{
        color: #fff;
    }
}


/* -----------------------
  Tablet Device
----------------------- */

@media only screen and (min-width: 689px) and (max-width: 1024px) {
    .nav-link{
        text-transform: uppercase;
        color: black;
        margin-right: 0px;
        font-size: 13px;
        font-weight: bold;
    }
    .shopping{
        background-color: #BD2322;
        color: #fff;
    }
    .shopping:hover{
        color: #fff;
    }
}
