.navbar{
    padding: 2% 12%;
    background-color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link{
    text-transform: uppercase;
    color: black;
    margin-right: 25px;
}
.nav-link:hover{
    color: #E7242D;
}
.shopping{
    background-color: #E7242D;
    color: #fff;
}
.shopping:hover{
    color: #fff;
}
