.navbar{
    height: 100px;
    background-color: #fff;
}

.nav-link{
    text-transform: uppercase;
    color: black;
    margin-right: 25px;
}
.nav-link:hover{
    color: #E7242D;
}
.shopping{
    background-color: #E7242D;
    color: #fff;
}
.shopping:hover{
    color: #fff;
}
