.footer-main{
  position: relative;
  margin-top: 320px;
}
.footer{
    padding: 4% 10%;
   background-image: url("../../Images/Footer/website_ann&wim.png");
}
.footer-title{
  font-family:'Montserrat', sans-serif;
  font-size: 40px;
  margin-top: 10px;
  font-style: italic;
  margin-left: -50px;
}
.footer-text p{
  margin-bottom: 0;
  font-size: 18px;
}

.copyright{
  background-color: #BD2322;
  color: #fff;
}
.copyright p{
  padding-top: 5px ;
  font-size: 12px;
}
.copyright-span{
  font-size: 14px;
  color: #fff;
  font-family:  'Trebuchet MS';
  font-weight: bold;
}
#image{
    position: absolute;
    top: -255px;
    left: 50%;
    width: 50%;
}


/* -----------------------
    Media Queries
----------------------- */

/* -----------------------
  Mobile Device
----------------------- */


@media only screen and  (max-width: 688px) {
        #image{
          top: -100px;
      }
      .footer-main{
        margin-top: 100px;
      }
}
@media only screen and (min-width: 689px) and (max-width: 1024px) {
  .footer-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 15px;
  }
  #image{
    top: -180px;
}
}
@media only screen and (min-width: 1024px) {

  #image{
    top: -280px;
}
}