.form-input{
    height: 36px;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    border: none;
    background-color: #EFEEEE;
    border-radius: 0%;
}

.bestel{
    padding: 2% 8%;
}

#FormControlInput1{
    border: none;
}

placeholder{
    font-size: medium;
}
.bestel-table{
    padding: 4% 14%;
}
.input-field1{
    width: 60px;
    text-align: center;
    margin-left: -25px;
}
.input-field2{
    width: 60px;
    text-align: center;
}
.input-field3{
    margin-left: 25px;
}
.input-text1{
    width: 360px;
    margin-right: 50px;
}
.input-text2{
    margin-left: 25px;
}
.bestel-title{
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
}

/* -----------------------
    Media Queries
----------------------- */

/* -----------------------
  Mobile Device
----------------------- */


@media only screen and  (max-width: 688px) {
    .bestel-table{
        padding: 1% 2%;
    }
    .input-field1{
        width: 60px;
        text-align: center;
        margin-left: -60px;
    }
    .input-field2{
        width: 46px;
        text-align: center;
        margin-left: -20px;
    }
    .input-field3{
        margin-left: 0;
    }
    .input-text1{
        width: 110px;
    }
    .input-text2{
        margin-left: 0px;
    }
}
@media only screen and  (max-width: 1024px) and  (min-width: 688px) {
    .input-field1{
        width: 80px;
        text-align: center;
        margin-left: -45px;
    }
    .input-field2{
        width: 60px;
        text-align: center;
    }
    .input-field3{
        margin-left: 50px;
    }
    .input-text1{
        width: 248px;
        margin-left: -50px;
    }
    .input-label{
        margin-left: -50px;
    }
    .input-text2{
        margin-left: 50px;
        width: 90%;
    }
    .bestel-title{
        padding: 2%  20%;
        font-weight: bold;
        font-size: larger;
    }
}
