.fruits{
  padding: 5% 18%;
  }
  .title{
    margin-top: 80px;
    background-color: #709F33;
    color: #fff;
    border: 1px solid #fff ;
    font-size: 20px;
    padding: 5px 12px;
  }
  .rec.rec-arrow {
    background-color: #BD2322;
    color: white;
}

.rec.rec-arrow:hover {
    background-color: #BD2322;
    color: #BD2322;
}
.rec.rec-dot{
    background-color: #BD2322;
}
.fruits-img{
  width: 570px;
}






/* -----------------------
    Media Queries
----------------------- */

/* -----------------------
  Mobile Device
----------------------- */


@media only screen and  (max-width: 688px)  {
  .fruits{
    padding: 5% 2%;
    }
}


/* -----------------------
Tablet Device
----------------------- */

@media only screen and  (max-width: 1024px) and  (min-width: 689px) {
  .fruits{
    padding: 5% 6%;
    }
}
